<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      .box{
        display: flex;
        justify-content: center;
      }

    </style>
    <title>video-call</title>
</head>
<body>

    <div class="box">
  <div id="otEmbedContainer;"style="
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;"></div>
<script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=54290738-86c3-4895-9740-17f9e1496c98&room={{room}}"></script>
    </div>
    <div id="otEmbedContainer" style="    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;">
    </div>
</html>
